.outlinePeach
{
    color: #C3996B;
    border: 2px solid #C3996B;
    text-decoration: none;
    padding: 1vh 0.7vw;
}
.outlineGrey
{
    color: #B8BCB8;
    border: 3px solid #B8BCB8;
    text-decoration: none;
    padding: 1vh 0.7vw;
}
.outlineGreen
{
    color: #264D37;
    border: 2px solid #264D37;
    text-decoration: none;
    padding: 1vh 0.7vw;
}
.outlineGrey:hover
{
    background-color: #c3996b8f;
}