/*Web Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
/*Index Styles*/
html
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body
{
    padding: 0;
    margin: 0;
    font-family: 'Volkhov', serif;
}
.container
{
    padding: 0 2vw;
}
.hide
{
    display: none;
}