#navBar 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 777;
}
.navContainerTransparent
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #264d3700;
    padding: 3vh 10vw;
    transition: .3s ease-in;
}
.navContainer 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #264D37;
    padding: 3vh 10vw;
    transition: .3s ease-in;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.050);
}
.navTopSection
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navBottomSection
{
    color: #264D37;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.navList
{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navList li:nth-child(2)
{
    padding: 0 2vw;
}
.navList li a
{
    color: #B8BCB3;
    text-decoration: none;
}
.navList li a:visited
{
    color: #B8BCB3;
}
.navList li a.active
{
    color: #C3996B;
    text-decoration: underline;
}
/*NAVBAR SCROLL TRANSPARENCY STYLES*/

