/*DESKTOP & LAPTOP DEVICE STYLES*/
.heroSection
{
    width: 100%;
    height: 100vh;
    background-color: #264d37;
}
.heroSection video 
{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.heroText
{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.heroText h1
{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #B8BCB8;
    font-size: 5.7vw;
}
.heroText p
{
    text-align: center;
    color: #C3996B;
    font-size: 1.7vw;
}
.mouseIconContainer
{
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.mouseIconContainer a
{
    z-index: 1;
}
/*RESPONSIVE DEVICE STYLES8*/
@media (max-width: 999px)
{
    .heroText h1
    {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #B8BCB8;
        font-size: 7vw;
    }
    .heroText p
    {
        text-align: center;
        color: #C3996B;
        font-size: 2.2vw;
        margin: 0 5vw;
    }
}
@media (max-width: 768px)
{
    .heroText h1
    {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #B8BCB8;
        font-size: 10vw;
    }
    .heroText p
    {
        text-align: center;
        color: #C3996B;
        font-size: 2.5vw;
        margin: 0 10vw;
    }
}
@media (max-width: 650px) 
{
    .heroText h1
    {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #B8BCB8;
        font-size: 10.7vw;
    }
    .heroText p
    {
        text-align: center;
        color: #C3996B;
        font-size: 3vw;
        margin: 0 5vw;
    } 
}
@media (max-width: 425px)
{
    .heroText h1
    {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #B8BCB8;
        font-size: 11vw;
    }
    .heroText p
    {
        text-align: center;
        color: #C3996B;
        font-size: 3vw;
        margin: 0 5vw;
    }
}
@media (max-width: 375px)
{
    .heroText h1
    {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #B8BCB8;
        font-size: 12vw;
    }
    .heroText p
    {
        text-align: center;
        color: #C3996B;
        font-size: 3.3vw;
        margin: 0 5vw;
    }
}
@media (max-width: 320px)
{
    .heroText h1
    {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #B8BCB8;
        font-size: 13vw;
    }
    .heroText p
    {
        text-align: center;
        color: #C3996B;
        font-size: 3.7vw;
        margin: 0 5vw;
    }
}